{% extends "base.html" %}

{% block content_title %}Goods{% endblock %}

{% block content %}
  <ul>
    {% for good in goods_list %}
      <div class="goods-li">
          <a href="{{ url_for('goods_detail', id=good.id) }}">{{ good.name }}
            <br>
            <div class="img-wrap big-image-list ">
                <img width="300" height="auto" src = "http://127.0.0.1:5000/static/media/{{ good.image }} "  >
            </div>
          </a>




      </div>

    {% endfor %}
  </ul>

{% endblock %}